/*----------------------------------------
 Configurações Gerais
 ----------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root{
    --corfont: #fff;
    --decapri: #b28756;
    --menusele: #dcdcdc;
    --bgDeLight: #f7f7f7;
    --titColorLight: #000;
    --bgDeDark: #000;
    --titColorDark: #fff;
    --descColor: grey;
    --borderRightColor: #333;
    --decoPrinc: #b28756;
    --bgColor: #000;
    --fgColor: #fff;
    --destaMenu: #ccc;
    --textService:#999;
    --bgFiltroProj:#ebebeb;
    --fgFiltroProj:#5f5f5f;
    --linFiltroProj:#d3d3d3;
}

body{
    width: 100%;
    margin: 0%;
    font-family: 'Montserrat', sans-serif;
}
header{
    width:100%;
    height: 5.5vw;
    background-color: black;
    display:block;
}
main{
    width:100%;
    background-color: #131313;
    display:block;
}
footer{
    width:100%;
    height: 4vw;
    background-color: black;
    display:block;
}
#header{
    width:70%;
    height: 5.5vw;
    background-color: black;
    margin:auto;
    display: block;
}
#main{
    width:100%;
    background-color: #ccc;
    display:block;
}
#footer{
    width:100%;
    height: 4vw;
    background-color: black;
    display:block;
}
.logo{
    width: 4.2vw;
    display: inline-block;
    float: left;
    margin-top:0.6vw;
}
.button{
    display: inline-block;
    background-color: var(--decapri);
    color: var(--corfont);
    text-transform: uppercase;
    font-size: 0.6vw;
    font-weight: 600;
    text-decoration: none;
    padding: 0.9vw 2vw;
    margin-top: 1vw;
    border-radius: 2vw;
}

/*----------------------------------------
    Template sections
----------------------------------------*/

.default{
    width: 99vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
}
.default .section-title,
.default .section-desc{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1vw;
}
.default .section-title{
    font-size: 1.5vw;
}
.default .section-desc{
    font-size: 0.7vw;
    text-align: center;
    color: var(--descColor);
    margin-bottom: 1vw;
    margin-top: 1vw;
}
.default .section-body{
    font-size: 1vw;
    text-align: center;
    margin:auto;
    max-width: 65vw;
    min-height: 5vw;
    padding: 0.5vw;
}

/*Dark and Light mode*/
.default.Light{
    background-color: var(--bgDeLight);
}
.default.Light .section-title{
    color: var(--titColorLight);
}
.default.Light .section-desc{
    color: var(--descColor);
}
.default.Dark{
    background-color: var(--bgDeDark);
}
.default.Dark .section-title{
    color: var(--titColorDark);
}
.default.Dark .section-desc{
    color: var(--descColor);
}

/*----------------------------------------
    Navbar
----------------------------------------*/

.navbar-list{
    list-style-type: none;
    margin: 0;
    margin-top:2.2vw;
    padding: 0;
    display: inline-block;
    float:right;
}
.navbar-list a{
    text-decoration: none;
    color: white;
}
.navbar-list li:hover {
    text-decoration: none;
    color:#ccc ;
    border-bottom: 0.4vw solid var(--decapri);
  }
.navbar-list li {
    float:left;
    color:whitesmoke;
    background:black;
    text-align: center;
    width: 6.6vw;
    font-size: 0.8vw;
    height: 2.9vw;
}
.active{
    border-bottom: 0.4vw solid var(--decapri);
}

/*----------------------------------------
    Banners
----------------------------------------*/

.banner{
    height: calc(100vh - 5vw);
    background-color: #131313;
    background-image: url("/assets/image/bg.jpg");
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
    background-position: 50% 50%;
} 
.banner .sliders{
    width: 1000vw;
    height: 100%;
}
.banner .slider{
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0,0,0,0.6);
}
.banner .sliderarea{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: var(--corfont);
}
.banner h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3vw;
}
.banner span{
    color: var(--decapri);
    font-size: 3.3vw;
}
.banner h2{
    text-transform: uppercase;
    margin-top: 0.2vw;
    font-size: 1.5vw;
}

/*Pointers do slider*/
.banner .sliders-pointers{
    width: 99vw;
    height: 0.6vw;
    margin-top: -2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .pointer {
    width: 1vh;
    height: 1vh;
    border: 0.2vh solid var(--decapri);
    border-radius: 50%;
    margin: 0vh 0.5vh;
    cursor: pointer;
}
.banner .pointer.active{
    background-color: var(--decapri);
}

/*----------------------------------------
    About Us
----------------------------------------*/

.section-aboutus{
    display: flex;
}
.section-aboutus-left{
    flex: 1;
}
.section-aboutus-left p{
    font-size: 0.9vw;
    line-height: 1.5vw;
    text-align: left;
    margin-top: 0;
    margin-right: 1vw;
}
.section-aboutus-left .button{
    float: left;

}
.section-aboutus-right img{
    width: 20vw;
    box-shadow: 0.5vw 0.5vw 0.5vw #aaa9a9;
}

/*----------------------------------------
    Section Services
----------------------------------------*/

.section-services{
    display: flex;
    color: var(--bgDeLight);
}
.section-service{
    text-align: center;
    flex: 1;
    padding: 1vw;
    border-right: 0.1vw solid var(--borderRightColor);
}
.section-service:first-child{
    border-left: 0.1vw solid var(--borderRightColor);
}
.section-service h4{
    font-size: 0.8vw;
}
.section-service p{
    font-size: 0.8vw;
}
.section-service img{
    width: 3vw;
}

/*----------------------------------------
    Section Projetos
----------------------------------------*/
.section-projects{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1vw;
}
.section-projects--filters{
    background-color: var(--bgFiltroProj);
    width: 38.2vw;
    border-radius: 2vw;
    border: 0.1vw solid var(--destaMenu);
}

.section-projects--filters ul{
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    height: 2.85vw;
}

.section-projects--filters li{
    float:left;
    color:var(--textService);
    text-align: center;
    width:6vw;
    height: 2.2vw;
    font-size: 0.7vw;
    padding-top: 1vw;
    border-right: 0.1vw solid var(--destaMenu);
}
.section-projects--filters .lastLiFilter{
    border-right: 0;
}
.filters-list li:hover {
    text-decoration: none;
    color:#ccc ;
    border-bottom: 0.4vw solid var(--decapri);
    box-sizing: border-box;
    padding-bottom: 1.7vw;
  }
.filter-active{
    border-bottom: 0.4vw solid var(--decapri);
    box-sizing: border-box;
    padding-bottom: 1.7vw;
}
.section-projects--photos {
    width: 100vw;
    max-width: 80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-projects--photo {
    width: 250px;
    margin-right: 20px;
}

.section-projects--photoarea {
    margin: 20px;
    width: 260px;
    height: 160px;
}

.section-projects--photoarea img {
    width: inherit;
    height: inherit;
}

.section-projects--photoinfo {
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    width: inherit;
    height: inherit;
    display: none;
    justify-content: center;
    align-items: center;
    color: var(--destaMenu);
    flex-direction: column;
}

.section-projects--photoinfo h5 {
    font-size: 17px;
    font-weight: 600;
}

.section-projects--photoinfo p {
    font-size: 13px;
    padding: 10px 40px;
    line-height: 23px;
    text-align: center;
}

.section-projects--photoarea:hover .section-projects--photoinfo{
    display: flex;
    cursor: pointer;
}

/*----------------------------------------
    Section Our Team
----------------------------------------*/

.ourteam{
    height: calc(100vh - 15vw);
    background-image: url("https://images.unsplash.com/photo-1480714378408-67cf0d13bc1b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8&w=1000&q=80");
}
.ourteam .sliders{
    background-color: rgba(0,0,0,0.8);
    display: flex;
    height: calc(100vh - 23vw);
}
.ourteam .default.Light .section-title{
    color: #fff;
}
.ourteam .default.Light .section-desc{
    color: var(--textService);
}
.ourteam .default.Light{
    background-color: rgba(0,0,0,0.8);
    height: 3vw;
}
.our-team-cards{
    width: 60vw;
    display: flex;
    height: 10vw;
    margin-left: 20vw;
    align-items: center;
}
.team-mate-card{
    background-color: var(--titColorDark);
    width: 17vw;
    height: 20vw;
    margin: auto;
    text-align: center;
    padding-top: 1.5vw;
}
.team-mate-card .team-mate-pic img{
    width: 10vw;
}
.team-mate-card .team-mate-infos h4{
    font-size: 2vh;
}
.team-mate-card .team-mate-infos h6{
    margin-top:  -0.9vw;
    font-size: 1vh;
}
.team-mate-socialmedias ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}
.team-mate-socialmedias li{
    float:left;
    text-align: center;
    width: 1.9vw;
    font-size: 0.8vw;
    padding-top: 0.5vw;
    height: 1.4vw;
    background-color: var(--destaMenu);
    border-radius: 50%;
    margin-left: 0.2vw;
}
.team-mate-socialmedias img{
    width: 0.9vw;
}
.team-pointers{
    position: absolute;
}
.team-mate-socialmedias .active-iconmedia{
    background-color: var(--decapri);
}

/*----------------------------------------
    Section Happy Clients
----------------------------------------*/

.happyclients{
    background-color: white;
    background-image: none;
}
.happyclients .sliders {
    background-color:rgba(0,0,0,0);
}
.happyclients .default.Light{
    background-color: rgba(0,0,0,0);
}
.happyclients .default.Light .section-title{
    background-color: rgba(0,0,0,0);
    color: var(--titColorLight);
}
.desc-client{
    width: 50vw;
}
.desc-client p{
    color: var(--textService);
    font-size: 0.8vw;
}
.desc-client img{
    width: 1.5vw;
}
.happyclient-card{
    background-color: var(--titColorDark);
    width: 50vw;
    height: 20vw;
    margin: auto;
    text-align: center;
    padding-top: 1.5vw;
}
.happyclient-card .client-pic img{
    width: 10vw;
}
.happyclient-card .client-infos h4{
    font-size: 2vh;
}
.happyclient-card .client-infos h6{
    margin-top:  -0.9vw;
    font-size: 1vh;
}